body {
    font-family: "Roboto";
    margin: 0;
}

ul {
    list-style: none;

    display: flex;
    gap: 10px;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* -- HEADER -- */

.header {
    padding: 20px 15%;
}

.header, .hero {
    background-color: #1F2937;
    color: #E5E7EB;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

/* -- HERO -- */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20%;
    gap: 50px;
}

.hero-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.hero-img {
    width: 100%;
    max-width: 450px;
    height: 450px;
    border-radius: 20px;
}

