body {
    font-family: "Roboto";
    margin: 0;
}

ul {
    list-style: none;

    display: flex;
    gap: 10px;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    padding: 20px 10%;
}

.header, .hero {
    background-color: #1F2937;
    color: #E5E7EB;
}